.contanier {
    width: 680px;
    margin: 40px auto 0;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 10px;
}

header>h3, section>h3 {
    border-bottom: 1px solid #000;
}

section .search {
    display: flex;
}

section .search>div {
    margin-right: 6px;
}

section .search .search-btn {
    margin: 0 6px;
}

section select {
    width: 150px;
}

section p {
    margin: 6px 0;
}

.show-weather {
    margin: 20px;
}

.show-weather h2 {
    margin: 16px 0;
}

section p>label {
    width: 110px;
    display: inline-block;
    color: #8d8b8b;
}

.contanier ul {
    overflow: hidden;
}

.contanier ul .search-btn, .delete-btn {
    border-radius: 50%;
    height: 28px;
    border: none;
    margin: 0 6px;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}